<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/lib}">
<head th:replace="Fragments/lib.html::lib('Get all')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <table class="table">
        <thead class="thead-light">
        <td>
            STT
        </td>
        <td>
            ID
        </td>
        <td>
            UserName
        </td>
        <td>
            Name
        </td>
        <td>
            Email
        </td>
        <td>
            Password
        </td>
        <td>
            Birth
        </td>
        <td>
            Role
        </td>
        <td>
            Action
        </td>
        </thead>
        <tr th:each="user : ${users}">
            <td th:text="${userStat.index+1}"></td>
            <td th:text="${user.ID_User}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="|${user.lastName} ${user.firstName}|"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.birthDay}"></td>
            <td th:text="${user.role.name_Role}"></td>
            <td>
                <a th:href="'/Users/view/'+${user.id}">View</a>
                <a th:href="'/Users/delete/'+${user.id}">Delete</a>
            </td>
        </tr>
    </table>
    <button onclick="location.href='/Users/new'">Create</button>
</section>

</body>
</html>