<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Fragments/lib}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="content">
<form th:object="${roleCreate}" th:action="'/Roles/save'" method="post">
    <div class="form-group mb-3">
        <div class="form-floating">
            <input class="form-control" type="text" placeholder="Nhập Role Name" th:field="*{roleName}">
            <label>Name Role</label>
        </div>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>